@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.scroll-text {
  overflow-x: hidden;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.scroll-text:hover .scroll-text-slide,
.scroll-text:hover .scroll-text-slide-right {
  animation-play-state: paused;
}

.scroll-text-slide,
.scroll-text-slide-right {
  display: flex;
  align-items: center;
}

.scroll-text-slide {
  animation: slide 25s linear infinite;
}

.scroll-text-slide-right {
  animation: slideRight 25s linear infinite;
}

.scroll-text-slide h1,
.scroll-text-slide-right h1 {
  display: inline;
}
